# Logs
logs/

# Temporary files
/.tmp

# IDE Settings
.vscode/*
!.vscode/launch.json
nbproject/private/
nbproject/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

#Typescript dist
dist/

#fwcloud runtime files
DATA/
sessions/

#fwcloud custom configuration files
.env
config/tls/
BACKUP/
OPENVPN/
.pid
nohup.out

*.fwb
*.swp

# fwcloud tests
tests/playground
tests/.tmp

# NSIS library.
lib/nsis-3.05/fwcloud-vpn/*.exe
lib/nsis-3.05/fwcloud-vpn/*.ovpn

.DS_Store
