# Logs
logs/

# IDE Settings
.vscode/*
!.vscode/launch.json
nbproject/private/
nbproject/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

#Typescript dist
dist/

#fwcloud runtime files
DATA/
sessions/

#fwcloud custom configuration files
.env
config/tls/
BACKUP/
SNAPSHOTS/

*.fwb
*.swp

# fwcloud tests
tests/playground