<% include partials/header %>
	<form method="POST" action="/policy-r__ipobjs/policy-r__ipobj/">
    	<div class="col-sm-6 col-md-offset-3">
            <h4>Add new policy_r ipobj</h4>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">

                	<div class="form-group">
                        <label for="rule" class="col-sm-3 control-label">Rule</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="rule" name="rule" 
                            value="">
                        </div>
                    </div> 

                    <div class="form-group">
                        <label for="ipobj" class="col-sm-3 control-label">IPOBJ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="ipobj" name="ipobj"
                            value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ipobj_g" class="col-sm-3 control-label">IPOBJ GRUPO</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="ipobj_g" name="ipobj_g"
                            value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="position" class="col-sm-3 control-label">Position</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="position" name="position"
                            value="">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="position_order" class="col-sm-3 control-label">Order</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="position_order" name="position_order"
                            value="">
                        </div>
                    </div>

                    <!--campo oculto para decirle a express que es una petición put-->
                    <input type="hidden" name="_method" value="POST">
                    <!--campo oculto con el id-->
                    
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary preview-edit-button">
                                <span class="glyphicon glyphicon-edit"></span> Create
                            </button>
                        </div>
                    </div>
                </div>
            </div>            
        </div> <!-- / panel preview -->
    </form>
<% include partials/footer %>