<% include partials/header %>
	<form method="POST" action="/interface__ipobjs/interface__ipobj/">
    	<div class="col-sm-6 col-md-offset-3">
            <h4>Add new interface ipobj</h4>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">

                	<div class="form-group">
                        <label for="interface" class="col-sm-3 control-label">Interface</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="interface" name="interface" 
                            value="">
                        </div>
                    </div> 

                    <div class="form-group">
                        <label for="ipobj" class="col-sm-3 control-label">IPOBJ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="ipobj" name="ipobj"
                            value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="interface_order" class="col-sm-3 control-label">Order</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="interface_order" name="interface_order"
                            value="">
                        </div>
                    </div>

                    <!--campo oculto para decirle a express que es una petición put-->
                    <input type="hidden" name="_method" value="POST">
                    <!--campo oculto con el id-->
                    
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary preview-edit-button">
                                <span class="glyphicon glyphicon-edit"></span> Create
                            </button>
                        </div>
                    </div>
                </div>
            </div>            
        </div> <!-- / panel preview -->
    </form>
<% include partials/footer %>