<% include partials/header %>
	<form method="POST" action="/policy-rs/policy-r/">
    	<div class="col-sm-6 col-md-offset-3">
            <h4>Update Policy_r</h4>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">

                	<div class="form-group">
                        <label for="idgroup" class="col-sm-3 control-label">Grupo</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="idgroup" name="idgroup" 
                            value="<%=info[0].idgroup%>">
                        </div>
                    </div> 

                    <div class="form-group">
                        <label for="firewall" class="col-sm-3 control-label">firewall</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="firewall" name="firewall"
                            value="<%=info[0].firewall%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rule_order" class="col-sm-3 control-label">ORDER</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="rule_order" name="rule_order"
                            value="<%=info[0].rule_order%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inteface_in" class="col-sm-3 control-label">inteface_in</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inteface_in" name="inteface_in"
                            value="<%=info[0].inteface_in%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inteface_out" class="col-sm-3 control-label">inteface_out</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inteface_out" name="inteface_out"
                            value="<%=info[0].inteface_out%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="direction" class="col-sm-3 control-label">direction</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="direction" name="direction"
                            value="<%=info[0].direction%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="action" class="col-sm-3 control-label">action</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="action" name="action"
                            value="<%=info[0].action%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="time_start" class="col-sm-3 control-label">time_start</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="time_start" name="time_start"
                            value="<%=info[0].time_start%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="time_end" class="col-sm-3 control-label">time_end</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="time_end" name="time_end"
                            value="<%=info[0].time_end%>">
                        </div>
                    </div><div class="form-group">
                        <label for="comment" class="col-sm-3 control-label">comment</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="comment" name="comment"
                            value="<%=info[0].comment%>">
                        </div>
                    </div><div class="form-group">
                        <label for="options" class="col-sm-3 control-label">options</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="options" name="options"
                            value="<%=info[0].options%>">
                        </div>
                    </div><div class="form-group">
                        <label for="active" class="col-sm-3 control-label">active</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="active" name="active"
                            value="<%=info[0].active%>">
                        </div>
                    </div>
                    


                    <!--campo oculto para decirle a express que es una petición put-->
                    <input type="hidden" name="_method" value="PUT">
                    <!--campo oculto con el id-->
                    <input type="hidden" name="id" value="<%=info[0].id%>">
                    <input type="hidden" name="old_order" value="<%=info[0].old_order%>">
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary preview-edit-button">
                                <span class="glyphicon glyphicon-edit"></span> Update
                            </button>                                                                            
                       </div>
                    </div>
                </div>
            </div>            
        </div> <!-- / panel preview -->
    </form>

    <form method="POST" action="/policy-rs/policy-r/">
				<input type="hidden" name="_method" value="DELETE">
		                <input type="hidden" name="id" value="<%=info[0].id%>">
                                <input type="hidden" name="old_order" value="<%=info[0].old_order%>">
	                        <button type="submit" class="btn btn-danger preview-add-button">
	                            <span class="glyphicon glyphicon-minus"></span> Delete
	                        </button>
			 </form>
<% include partials/footer %>