[Unit]
Description=fwcloud-api
After=mariadb-server.service mysql-server.service

[Service]
ExecStart=/usr/bin/npm start
ExecStop=/usr/bin/npm run stop
WorkingDirectory=/opt/fwcloud/api/
SyslogIdentifier=fwcloud-api
User=fwcloud
Group=fwcloud
Type=simple

[Install]
WantedBy=multi-user.target
