[Unit]
Description=fwcloud-api

[Service]
ExecStart=/usr/bin/npm start
ExecStop=/usr/bin/npm run stop
WorkingDirectory=/opt/fwcloud-api/
SyslogIdentifier=fwcloud-api
User=fwcloud
Group=fwcloud
Type=forking

[Install]
WantedBy=multi-user.target
