name: FwCloud CI

on: [push, pull_request]

jobs:
  test:
    name: 'FwCloud Test'
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql,
        ports:
          - 8888:3306
        env:
          MYSQL_RANDOM_ROOT_PASSWORD: "yes"
          MYSQL_USER: "fwcdbusr"
          MYSQL_PASSWORD: "fwcdbusr"
          MYSQL_DATABASE: "fwcloud"

    strategy:
      matrix:
        node-version: [8.x, 10.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run build --if-present
    - run: npm run test
      env:
        CI: true
